<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>14 TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD4D2671DDCCC97007040EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD4D27B1DDCCC97007040EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD4D2861DDCCC97007040EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
